body {
    margin: 0;
}

header {
    background-image: url("waves.png");
    background-size: cover;
    background-position: center;
    /* background-repeat: round; */
    height: 30vw;
    width: 100vw;
}

#headerLine{
    position: fixed;
    background-color: #71D7D9;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}


#headerButtons {
    width: 100vw;
}

#logoImg {
    width: 15vw;
    height: 7.5vw;
    margin: 5px;
}